[listen]
ip = 127.0.0.1
port = 8087
visible = 1
debuginfo = 0

[gae]
appid = 
password = 
path = /2
profile = ipv4
window = 4
crlf = 1
obfuscate = 0
validate = 0
options = 

[pac]
enable = 1
ip = 127.0.0.1
port = 8086
file = proxy.pac
gfwlist = http://autoproxy-gfwlist.googlecode.com/svn/trunk/gfwlist.txt
adblock = http://adblock-chinalist.googlecode.com/svn/trunk/adblock.txt
expired = 86400

[proxy]
enable = 0
autodetect = 0
host = 10.64.1.63
port = 8080
username =
password =

[dns]
enable = 0
listen = 127.0.0.1:53
remote = 8.8.8.8|8.8.4.4|114.114.114.114|114.114.115.115
cachesize = 5000
timeout = 2